.container {
  width: 980px;
  margin:auto;
}
.headercontent .title {
    text-decoration: underline;
    background-image: url("header-background.jpeg");
    padding: 20px 100px 20px 100px;
    margin-bottom: 10px;
    text-align: center;
    float:left
}
.headercontent img {
  width: 200px;
  height: 120px;
  background: #555;
  clear: both;
}
.header h2 {
  /* clear:left; */
  text-decoration: underline;
}
.nav {
  padding: 0px;
}
.nav li {
  display: inline;
  border-style:dotted;
  padding-right: 20px;
}
