.headercontent {
    display: inline-flex;
  }
.headercontent h1 {
    text-decoration: underline;
    background-image: url("header-background.jpeg");
    padding: 40px 100px 40px 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 800px;
    height: 50px;
}
.headercontent img {
  /* float: right; */
  width: 200px;
  height: 150px;
  background: #555;
  /* clear: both; */
}
.header h2 {
  /* clear:left; */
  text-decoration: underline;
}
.nav {
  border: 10px;
}
.nav li {
  display: inline-block;
  border-style:dotted;
  padding-right: 20px;
}
